<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Currency Converter Application Task</title>
</head>
<body>
    <section>
        <header>
            <h1>FastAPI Currency Converter Application</h1>
        </header>
    </section>
    <main>
        <h2>Navigate Through The Various Endpoints</h2>
        <div>
            <a href="{{context.swagger_docs}}">Go To Swagger Documentation Page</a>
            </br>
            </br>
            <a href="{{context.open_api_docs}}">Go To OpenAPI Documentation</a>
            <p>
                Check out the <a href="{{context.supported_currencies}}">latest supported currencies</a> and their rates.
            </p>
        </div>
        <p>
            You can view the  documentation in <a href="/openapi.json">JSON format</a>.
        </p>
    </main>
    <footer>
        <div style="text-align: center;">
            Developed and submitted by <strong>
                <a href="http://github.com/Honeson" target="_blank" rel="noopener noreferrer">Sunday Nwovu</a>
            </strong>
        </div>
    </footer>
</body>
</html>